client
dev tun
proto udp
remote {{ openvpn_host }} 1194
resolv-retry infinite
nobind
persist-key
persist-tun
ca /etc/openvpn/ca.crt
cert /etc/openvpn/client.crt
key /etc/openvpn/client.key
askpass /etc/openvpn/pass
comp-lzo

verb 5
